@import url(./global.css);

body{
    background-color: var(--color-secondary-white);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 0.6px solid var(--color-neutral-gray);
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header-item-active{
    color: var(--color-primary-blue);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    text-decoration: none;
}

.nav-header-item{
    color: var(--color-neutral-black);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    text-decoration: none;
}

.btn-header{
    background-color: var(--color-primary-blue);
    padding: 8px 24px;
    border-radius: 6px;
}

.btn-header a{
    color: var(--color-secondary-white);
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-h4);
}

main{
    background-color: var(--color-primary-blue-10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 85px;
    gap: 50px;
}

.content-main-principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-main-principal h1{
    color: var(--color-neutral-black);
    font-family: var(--font-body);
    font-weight: bold;
    font-size: var(--font-h1);
    text-align: start;
    width: 515px;
}

.content-main-principal h1 span{
    color: var(--color-primary-blue);
}

.content-main-principal p{
    color: var(--color-neutral-gray);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    width: 520px;
}

.container-btn-main{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.btn-header-primary{
    background-color: var(--color-primary-blue);
    color: var(--color-secondary-white);
    border-radius: 10px;
    padding: 8px 55px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-h4);
}

.btn-header-secondary{
    border: 1px solid var(--color-primary-blue);
    border-radius: 10px;
    padding: 8px 55px;
    color: var(--color-primary-blue);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    text-decoration: none;
}

.section-service{
    display: flex;
    justify-content: center;
    padding: 30px 54px;
    border-bottom: 0.7px solid var(--color-neutral-gray);
}

.section-service-container{
    display: flex;
    gap: 25px;
}

.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.service-text h4{
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: bold;
    color: var(--color-neutral-black);
}

.service-text p{
    color: var(--color-neutral-gray);
    font-family: var(--font-body);
    font-size: 14px;
}

.section-experiences{
    display: flex;
    flex-direction: column;
    padding: 45px 80px;
    gap: 84px;
}

.experience-descrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.experience-descrition h2{
    color: var(--color-neutral-black);
    font-family: var(--font-body);
    font-size: var(--font-h2);
}

.experience-descrition p{
    color: var(--color-neutral-gray);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    text-align: center;
    width: 665px;
}

.experience-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.experience-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.experience-item{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.experience-item h4{
    color: var(--color-neutral-black);
    font-family: var(--font-body);
    font-size: var(--font-h4);
}

.experience-item p{
    color: var(--color-neutral-gray);
    font-family: var(--font-body);
    font-size: 14px;
}

.experience-descrition-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience-descrition-item h3{
    color: var(--color-neutral-black);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    width: 516px;
}

.experience-descrition-item p{
    color: var(--color-neutral-gray);
    font-family: var(--font-body);
    font-size: var(--font-h4);
    width: 445px;
}

.experience-descrition-item h3 span{
    color: var(--color-primary-blue);
}